.swiper-container {
  width: 100%;
  height: 212px;
}
.swipera {
  width: 100vw;
}
.swiper-slide {
  width: 100%;
  height: 200px;
  padding: 6px;
}
.swiper-slide-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* 无缝滚动 */
.swiper-container /deep/ .swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -moz-transition-timing-function: linear !important;
  -ms-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
